<header class="mb-auto">
	<div>
		<h3 class="float-md-start mb-0">Jeffy La Roux</h3>
		<nav class="nav nav-masthead justify-content-center float-md-end">
			<%= link_to "Home", root_path, class: "nav-link fw-bold py-1 px-0 #{"active" if params[:action] == "home"}" %>
			<%= link_to "About", about_me_path, class: "nav-link fw-bold py-1 px-0 #{"active" if params[:action] == "about"}" %>
			<%= link_to "Contact", contact_path, class: "nav-link fw-bold py-1 px-0 #{"active" if params[:action] == "contact"}" %>
			<%= link_to "Blog", blogs_path, class: "nav-link fw-bold py-1 px-0" %>
			<%= link_to "Portfolio", portfolios_path, class: "nav-link fw-bold py-1 px-0" %>

			<%= login_helper("nav-link fw-bold py-1 px-0") %>
		</nav>
	</div>
</header>