<!DOCTYPE html>
<html>
  <head lang="en" data-bs-theme="auto">
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=<%= @seo_keywords %>>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "blog", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <%= render "shared/blog_masthead" %>

      <%= render "shared/blog_nav" %>
    </div>

      <main class="container">
        <div class="row g-5">
          <%= yield %>

          <%= render "shared/blog_sidebar" %>

        </div>
      </main>

      <%= render "shared/blog_footer" %>

      <%= copyright_generator %>

      <%= source_helper("blog") %>
  </body>
</html>
